<section class="users-new-page">
  <div class="page-title">
      <%= image_tag "MIkujinoyasiro_logo.png" %>
      <h3>新規登録</h3>
      <p>SIGN UP</p>
  </div>

  <% if @user.errors.any? %>
    <div class="form-error">
      <%= @user.errors.full_messages.first %>
    </div>
  <% end %>

  <%= form_tag("/users/create", class: "users-signup-sheet", data: { turbo: false }) do %>
    <div class="users-index-item">
      <div class="users-outline">
        <p>お名前</p>
        <input name="name" value="<%= @user.name %>" >
        <p>宛先(e-mail)</p>
        <input name="email" value="<%= @user.email %>" >
        <p>暗証番号</p>
        <input type="password" name="password" value="<%= @user.password %>" >
      </div>
    </div>

    <div class="omikuji-botton-default">
      <div>
        <input type="submit" value="新規登録" >
      </div>
    </div>
  <% end %>

</section>

