<div class="page-title">
    <%= image_tag "OmikujiMusubidokoro.png" %>
    <h3>おみくじ結び所</h3>
    <p>KNOTTING THE FORTUNE</p>
</div>
<div class="omikujis-index">
  <div class="omikujis-container">
    <% @omikujis.each do |omikuji| %>
      <%= link_to ("/omikujis/#{omikuji.id}"), class: "omikuji-card" do %>
        <div class="omikujis-index-item">
          <div class="omikujis-outline">
            <div class="omikuji-left">
              <%= omikuji.fortune %>
            </div>
            <div class="omikuji-right">
              <div class="omikuji-user-name">
                <%= "加地　翔馬" %>
              </div>
              <div class="omikuji-created-at">
                <%= omikuji.created_at.strftime("%Y年%m月%d日 %H:%M") %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>